:host {
  display: flex;
  flex: 1;
  border: 2px solid #202c42;
  box-sizing: border-box;
  background-color: #0d141f;
  border-radius: 20px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
  height: 100%;
  padding-inline: 20px;
  padding-block: 20px;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;

  /* ativa suavidade */
  scrollbar-width: thin;          /* Firefox */
  scrollbar-color: #4f5765 #0d141f; /* Firefox: cor barra e trilho */
}

/* Chrome, Edge, Safari */
:host::-webkit-scrollbar {
  width: 8px;             /* largura da barra */
}

:host::-webkit-scrollbar-track {
  background: #0d141f;     /* fundo do trilho */
  border-radius: 10px;
}

:host::-webkit-scrollbar-thumb {
  background-color: #4f5765; /* cor da barra */
  border-radius: 10px;
  border: 2px solid #0d141f; /* borda separando do fundo */
}

:host::-webkit-scrollbar-thumb:hover {
  background-color: #6c7a89; /* cor ao passar o mouse */
}
