.container {
  display: flex;
  border: 1px solid #b6450c;
  color: #9bb0bc;
  border-radius: 6px;
  background-color: #1a161a;
  padding-inline: 12px;
  padding-block: 6px;
  align-items: center;
  gap: 4px;
  transition: all 0.3s ease;
}

.container:hover {
  cursor: pointer;
  box-shadow: 0 0 22px 0 rgba(255, 120, 36, 0.25);
  color: #fffbac;
}

.icon {
  height: 15px;
  margin-right: 8px;
  transition: all 0.3s ease;
}

.container:hover .icon {
  fill: #fffbac;
}

.text {
  font-size: 14px;
  margin: 0;
}
